# for linux
otp_path: "/home/max/.asdf/installs/erlang/26.0"
# for mac os
# otp_path: "/Users/max/.asdf/installs/erlang/24.1.2"
deps_dirs:
  - "_build/default/lib/etran"
  - "_build/default/lib/opentelemetry_api/apps/opentelemetry_api/"
  - "_build/default/lib/amqp_client"
  - "_build/default/lib/rabbit_common"
  - "_build/default/lib/*"
diagnostics:
  enabled:
    - compiler
    - crossref
  disabled:
    - dialyzer
include_dirs:
  - "include"
  - "_build/default/lib/amqp_client/include"
  - "_build/default/lib/rabbit_common/include/"
  - "_build/default/lib/opentelemetry_api/apps/opentelemetry_api/include"
  - "_build/default/lib/*/include"
exclude_unused_includes:
  - "kernel/include/logger.hrl"
lenses:
  enabled:
    - ct-run-test
  disabled:
    - show-behaviour-usages
